{% extends 'userhome.html' %}

{% block content %}

<script>
function getSubcategory(cnm)
{
	var xhttp=new XMLHttpRequest()
	xhttp.open("GET","http://localhost:8000/user/getsubcategory/?cnm="+cnm ,true)
	xhttp.send()
	
	xhttp.onreadystatechange=function(){
		if(xhttp.readyState==4 && xhttp.status==200)
		{
			document.getElementById('response').innerHTML=xhttp.responseText
		}
	}
	
}
</script>

<center><h1><b>Add Product Here!!!</b></h1>
<hr><br>
<font style="font-size: 18px;color: yellow">{{output}}</font>
        <form action={{curl}}user/addproduct/ method="POST" enctype="multipart/form-data">
                {% csrf_token %}
        	<fieldset style="width: 360px; height:auto;">
        		<legend>Add Product</legend>
                <table border="1">
        		<tr>
                        <td><label><b>Product Title</b></label></td>
        		<td><input type="text" name="ptitle" placeholder="enter product title"></td>
                </tr>

                <tr>
                        <td><label><b>Product Image</b></label></td>
        		<td><input type="file" name="pimg"></td>
                </tr>
        	
                 <tr>
        		<td><label><b>Product Catagory</b></label></td>
        		<td><select name="pcat" onchange="getSubcategory(this.value)" >
        			<option selected="selected" hidden>---select catagory---</option>
        			{% for row in clist %}
        				<option>{{row.catnm}}</option>
        			{% endfor %}
        		</select></td>
        	</tr>

				<tr>
        		<td><label><b>Product  SubCatagory</b></label></td>
        		<td>
        			<select id="response" name="psubcat">
        			<option>---select subcatagory---</option>
        			</select>
        		</td>
        		</tr>

        		<tr>
                        <td><label><b>Product Price</b></label></td>
        		<td><input type="text" name="pprice" placeholder="enter product price"></td>
                </tr>

                <tr>
        		<td><label><b>City</b></label></td>
        		<td><select name="city">
        			<option selected="selected">---select city---</option>
        			<optgroup label="MP">
        				<option>Indore</option>
        				<option>Dewas</option>
        				<option>Ujjain</option>
        				<option>Bhopal</option>
        				</optgroup>
        				<optgroup label="UP">
        				<option>Kanpur</option>
        				<option>Banaras</option>
        				<option>Agra</option>
        				<option>Lucknow</option>
        				</optgroup>
        		</select></td>
        	</tr>
                
        		<tr>    
                        <td><label><b>Product Description</b></label></td>
        		<td><textarea placeholder="enter product description here..." cols="25" rows="5" name="pdesc"></textarea></td>
                </tr>

        	<tr><td colspan="2" align="center"><input type="submit" value="Add Product"></td></tr>

        </table>
        	</fieldset>
        </form>
        </center>
{% endblock %}