{% extends 'userhome.html' %}


{% block content %}

<h1>Buy product here!!!</h1>
<br>
<h3>ProductID : {{pid}}</h3>
<h3>Product Price : {{pprice}}</h3>

 <form action={{paypalURL}} method="post">
        <!-- Identify your business so that you can collect the payments. -->
        <input type="hidden" name="business" value={{paypalID}}>
        
        <!-- Specify a Buy Now button. -->
        <input type="hidden" name="cmd" value="_xclick">
        
        <!-- Specify details about the item that buyers will purchase. -->
        <input type="hidden" name="item_name" value={{pid}}>
        <input type="hidden" name="item_number" value=1>
        <input type="hidden" name="amount" value={{pprice}}>
        <input type="hidden" name="currency_code" value="USD">
        
        <!-- Specify URLs -->
        <input type='hidden' name='cancel_return' value={{curl}}cancel/ >
        <input type='hidden' name='return' value={{curl}}payment/?uid={{sunm}}&pid={{pid}}&pprice={{pprice}} >
        
        <!-- Display the payment button. -->
        <input type="image" name="submit" border="0"
        src="https://www.paypalobjects.com/en_US/i/btn/btn_buynow_LG.gif" alt="PayPal - The safer, easier way to pay online">
        <img alt="" border="0" width="1" height="1" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" >
    </form>


{% endblock %}