{% extends 'userhome.html' %}

{% load static %}

{% block content %}

<center><h1><b>User Edit Profile</b></h1>
        <hr><br>
        <font style="font-size: 18px;color: lightgreen">{{output}}</font><br>
        <form action="{{curl}}user/usereditprofile/" method="POST">
                {% csrf_token %}
        	<fieldset style="width: 360px; height:auto">
        		<legend>Edit profile form</legend>
                <table border="1">
        	<tr>
                        <td><label><b>Name</b></label></td>
        		<td><input type="text" name="name" value="{{ userData.name }}" /></td>
                </tr>
        	
                <tr>
                        <td><label><b>Username/Email</b></label></td>
        		<td><input type="text" readonly name="username" value="{{ userData.username }}" /></td>
                </tr>
        		
                <tr>    
                        <td><label><b>Address</b></label></td>
        		<td><textarea placeholder="enter address here..." cols="25" rows="5" name="address"> {{ userData.address }}  </textarea></td>
                </tr>
                <tr>
        		<td><label><b>City</b></label></td>
        		<td><select name="city" >
        			<option>{{ userData.city }}</option>
        			<optgroup label="MP">
        				<option>Indore</option>
        				<option>Dewas</option>
        				<option>Ujjain</option>
        				<option>Bhopal</option>
        				</optgroup>
        				<optgroup label="UP">
        				<option>Kanpur</option>
        				<option>Banaras</option>
        				<option>Agra</option>
        				<option>Lucknow</option>
        				</optgroup>
        		</select></td>
        	</tr>
                <tr>
                        <td><label><b>Gender:</b></label></td>
        		<td><input {{m}} type="radio" name="gender" value="male"> Male &nbsp;
        		<input {{f}}  type="radio" name="gender" value="female"> Female &nbsp;
        		<input {{o}} type="radio" name="gender" value="other">Other
                        </td>
                </tr>
                <tr>
        		<td><label><b>Mobile:&nbsp;&nbsp;&nbsp;</b></label></td>
        		<td><input type="number" name="mobile" value="{{ userData.mobile }}"><br></td>
                </tr>
        	<tr><td colspan="2" align="center"><input type="submit" value="Change"></td></tr>

        </table>
        	</fieldset>
        </form>
</center>
{% endblock %}