{% extends 'userhome.html' %}

{% load static %}

{% block content %}
<center>
<h1>View Payment Details</h1>
<br>
<table cellspacing="10">
<tr>
<th>TxnID</th>
<th>User ID</th>
<th>Product ID</th>
<th>Product Price</th>
<th>Date/Time</th>
</tr>
<tr><td colspan="9"><hr></td></tr>
{% for row in paymentlist %}
<tr>
<td>{{row.txnid}}</td>
<td>{{row.uid}}</td>
<td>{{row.pid}}</td>
<td>{{row.pprice}}</td>
<td>{{row.dt}}</td>
</tr>
<tr><td colspan="9"><hr></td></tr>
{% endfor %}

</table>

</center>		
{% endblock %}