{% extends 'adminhome.html' %}

{% block content %}
<center><h1>Add Category Here!!!</h1></center>
<hr>
<center><font color="yellow" style="font-size:20px;">{{output}}</font></center>
<br>
<center>
<form method="post" action={{curl}}bwsadmin/addcatagory/ enctype="multipart/form-data">
{% csrf_token %}
<fieldset style="width: 300px;">
       	<legend>Add Catagory Here</legend>
       	<table border="1">
       		<tr>
       	<td><label><b>Catagory Name</b></label></td>
       	<td><input type="text" name="catnm" placeholder="enter catagory name"></td>
       </tr>
       <tr>
       	<td><label><b>Catagory Icon</b></label></td>
       	<td><input type="file" name="caticon"></td>
		</tr>
		<tr>
       	<td colspan="2" align="center"><input type="submit" name="st" value="Add Catagory"></td>
       </tr>
       </table>
       	</fieldset>
</form>
</center>

{% endblock %}