{% extends 'adminhome.html' %}

{% block content %}
<center><h1>Add Sub Category Here!!!</h1></center>
<hr>
<center><font color="yellow" style="font-size:20px;">{{output}}</font></center>
<br>
<center>
<form method="post" action={{curl}}bwsadmin/addsubcatagory/ enctype="multipart/form-data">
{% csrf_token %}
<fieldset style="width: 300px;">
<legend>Add Sub Catagory Here</legend>
<table border="1">

<tr>
<td>Catagory Name</td>
<td>
<select name="catnm">
<option>Select Catagory</option>
{% for row in clist %}
<option>{{row.catnm}}</option>
{% endfor %}
</select>
</td>
</tr>

<tr>
<td><label><b>Sub Catagory Name</b></label></td>
<td><input type="text" name="subcatnm" placeholder="enter Sub catagory name"></td>
</tr>
<tr>
<td><label><b>Catagory Icon</b></label></td>
<td><input type="file" name="caticon"></td>
</tr>
<tr>
<td colspan="2" align="center"><input type="submit" name="st" value="Add Sub Catagory"></td>
</tr>
</table>
</fieldset>
</form>
</center>

{% endblock %}