{% extends 'base.html' %}
{% load static %}
{% block menu %}

<style type="text/css">
	/* Navbar container */
.navbar {
  overflow: hidden;
  background-color: #333;
  font-family: Arial;
  float: left;
  margin-left: -100px;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}
	
</style>

<div class="navbar">
  <a href="{{curl}}bwsadmin/"> Admin Home</a>
  <div class="dropdown">
    <button class="dropbtn">Manage Options
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href={{curl}}bwsadmin/manageuser/ >Manage Users</a>
      <a href={{curl}}bwsadmin/addcatagory/ >Add Catagory</a>
      <a href="#">Manage Catagory</a>
      <a href={{curl}}bwsadmin/addsubcatagory/ >Add Sub Catagory</a>
      <a href="#">Manage Sub Catagory</a>
    </div>
  </div>
 
 <div class="dropdown">
    <button class="dropbtn">Manage Products
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="#">View & Manage Products</a>
      <a href="#">View & Manage Bidding Products</a>
      <a href="#">Payment History</a>
    </div>
  </div>
  
  <div class="dropdown">
    <button class="dropbtn">Settings
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="{{curl}}bwsadmin/changepassword/" >Change Password</a>
      <a href="{{curl}}bwsadmin/editprofile/">Edit Profile</a>
      <a href="#">View Feedbacks</a>
      <a href="#">Launch Notifications</a>
    </div>
  </div>
  <a href="{{curl}}login/"> Logout</a>
</div><br><br>
{% endblock %}
{% block search %}
<font style="font-size: 20px;color: yellow;">Welcome : {{sunm}}</font>
{% endblock %}

{% block headslide %}
{% endblock %}

{% block content %}
<center><h1><b>Welcome to Admin Panel</b></h1></center>
<hr>

{% endblock %}