{% extends 'adminhome.html' %}

{% block content %}
<center><h1>Change Password!!!</h1></center>
<hr>
<center><font color="#FFCCB2" style="font-size:20px;">{{output}}</font></center>
<br>
<center>
<form method="post" action={{curl}}bwsadmin/changepassword/ >
{% csrf_token %}
<fieldset style="width: 300px;">
<legend>Change Password</legend>
<table border="1">

<tr>
<td>Old Password</td>
<td>
<input type="password" name="opass" placeholder="enter old password">
</td>
</tr>

<tr>
<td>New Password</td>
<td>
<input type="password" name="npass" placeholder="enter new password">
</td>
</tr>

<tr>
<td>Confirm New Password</td>
<td>
<input type="password" name="cnpass" placeholder="confirm new password">
</td>
</tr>

<tr>
<td colspan="2" align="center"><input type="submit" name="st" value="Change Password"></td>
</tr>
</table>
</fieldset>
</form>
</center>

{% endblock %}