{% extends 'adminhome.html' %}
{% load static %}
{% block content %}

<center><h1><b>View and Manage User</b></h1></center>
<hr>
<center>
<table cellspacing="10">
<tr>
<th>RID</th>
<th>Name</th>
<th>Username</th>
<th>Address</th>
<th>City</th>
<th>gender</th>
<th>Mobile</th>
<th>Status</th>
<th>Action</th>
</tr>
<tr><td colspan="9"><hr></td></tr>
{% for row in userData %}
<tr>
<td>{{row.rid}}</td>
<td>{{row.name}}</td>
<td>{{row.username}}</td>
<td>{{row.address}}</td>
<td>{{row.city}}</td>
<td>{{row.gender}}</td>
<td>{{row.mobile}}</td>
<td>
{% if row.status %}
<a href={{curl}}bwsadmin/manageuserstatus/?regid={{row.rid}}&st=block  title="Block User" >
<img src="{% static 'block.jpeg' %}" height='50' width='70' /></a>
{% else %}
<a href={{curl}}bwsadmin/manageuserstatus/?regid={{row.rid}}&st=unblock title="UnBlock User" >
<img src="{% static 'unblock.jpeg' %}" height='50' width='70' /></a>
{% endif %}
</td>
<td>
<a href={{curl}}bwsadmin/manageuserstatus/?regid={{row.rid}}&st=delete title="Delete User" >
<img src="{% static 'delete.png' %}" height='50' width='70' /></a>
</td>
</tr>
<tr><td colspan="9"><hr></td></tr>
{% endfor %}
</table>
</center>
{% endblock %}