{% load static %}
<html>
<head>
<title>Bidding Web Solution</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<link href="{% static 'style.css' %}" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script type="text/javascript" src="{% static 'js/jquery-1.3.2.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/script.js' %}"></script>
<script type="text/javascript" src="{% static 'js/cufon-yui.js' %}"></script>
<script type="text/javascript" src="{% static 'js/arial.js' %}"></script>
<script type="text/javascript" src="{% static 'js/cuf_run.js' %}"></script>
</head>
<body>
<!-- START PAGE SOURCE -->
<div class="main">
{% block main %}
  <div class="header_block">
    <div class="header_resize">
      <div class="search">
        {% block search %}
        <form method="get" id="search" action="#">
          <span>
          <input type="text" value="Search..." name="s" id="s" />
          <input name="searchsubmit" type="image" src="{% static 'img/search.gif' %}" value="Go" id="searchsubmit" class="btn"  />
          </span>
        </form>
        <div class="clr"></div>
        {% endblock %}
      </div>
      
      {% block menu %}
      <div class="menu_nav">
        <ul>
          <li class="active"><a href={{curl}}>Home</a></li>
          <li><a href="{{curl}}about/">About</a></li>
          <li><a href="{{curl}}contact/">Contact</a></li>
          <li><a href="{{curl}}service/">Service</a></li>
          <li><a href="{{curl}}register/">Register</a></li>
          <li><a href="{{curl}}login/">Login</a></li>
        </ul>
      </div>
      {% endblock %}
      <div class="clr"></div>
    </div>
  </div>
  <div class="clr"></div>
  {% block headslide %}
  <div class="header">
    {% block slide %}
    <div class="logo">
      <h1><a href="{{curl}}">BIDDING <small style="color:white;">web solutions</small></a></h1>
    </div>
    {% endblock %}
    <div class="clr"></div>
  </div>
  {% endblock %}
  <div class="content">
    <div class="mainbar">
      <div class="article">
        {% block content %}
        
        <h1><b>Welcome to Bidding Web Solution.</b></h1>
        <h3 style="color:white">HOME PAGE</h3>

        {% endblock %}
      </div>
      <!-- <div class="article"> -->
        <div class="clr"></div>
        


      <!-- </div> -->
    
    </div>
    <div class="sidebar" style="height:800px;">
      <div class="gadget" style="height:300px;">
        {% block sidebar %}
        <h2 class="star">Social Media Links</h2>
        <div class="clr"></div>
        <br>
        <ul class="sb_menu">
          <li class="active"><a href="http://www.facebook.com" target="_blank">Facebook</a></li>
          <li><a href="http://www.gmail.com" target="_blank">Gmail</a></li>
          <li><a href="http://www.twitter.com" target="_blank">Twitter</a></li>
          <li><a href="http://www.instagram.com" target="_blank">Instagram</a></li>
          <li><a href="http://www.linkedin.com" target="_blank">Linked In</a></li>
          <li><a href="http://www.pinterest.com" target="_blank">Pinterest</a></li>
        </ul>
        {% endblock %}
      </div>
    </div>

    <div class="clr"></div>
  </div>
  {% endblock %}
</div>

<!-- END PAGE SOURCE -->
<div align=center>
  {% block footer %}
  <p class="lf">Copyright &copy; 2019 <a href="#">Bidding Web Solutions</a> - All Rights Reserved</p>
  {% endblock %}
</div>
</body>
</html>