{% extends 'base.html' %}

{% block content %}
<center><h1><b>Welcome to Bidding Web Solution.</b></h1>
        <h3>Forgot Password!!!</h3></center><hr><br>
        <font style="font-size: 18px;color: orange;">{{output}}</font>
       <form method="POST" action="{{curl}}forgotpass/">
        {% csrf_token %}
       	<fieldset style="width: 300px;height:auto;">
       	<legend>forgot password</legend>
       	<table border="1">
       		<tr>
       	<td><label><b>Enter Email</b></label></td>
       	<td><input type="text" name="email" placeholder="enter email"></td>
       </tr>
		<tr>
       	<td colspan="2" align="center"><input type="submit" value="Send Password"></td>
       </tr>
       </table>
       	</fieldset>
       </form>

{% endblock %}