{% extends 'base.html' %}

{% block content %}
<style type="text/css">
#pcatmain{
 height:450px;
 width:600px;
}
.pcatmainpart{
 height:150px;
 width:200px;
 float:left;
}
</style>

<center><h1><b>Welcome to Bidding Web Solution.</b></h1>
<h3>Product Categories</h3></center>
<hr><br>

<div id="pcatmain">

{% for row in clist %}
<a href={{curl}}showsubcat/?cnm={{row.catnm}} >
<div class="pcatmainpart">
<center>
<img src={{media_url}}{{row.caticon}} width="150" height="100" />
<br>
<b>{{row.catnm}}</b>

</center>
</div>
</a>
{% endfor %}

</div>

{% endblock %}