{% extends 'base.html' %}
{% block content %}
        
        <center><h1><b>Welcome to Bidding Web Solution.</b></h1>
        <h3>LOGIN PAGE</h3></center><hr><br>
        <font style="font-size: 18px;color: red;">{{output}}</font>
       <form method="POST" action="{{curl}}login/">
        {% csrf_token %}
       	<fieldset style="width: 300px;height:auto;">
       	<legend>Login Form</legend>
       	<table border="1">
       		<tr>
       	<td><label><b>Enter Username</b></label></td>
       	<td><input type="text" name="username" placeholder="enter username/email"></td>
       </tr>
       <tr>
       	<td><label><b>Enter Password</b></label></td>
       	<td><input type="password" name="password" placeholder="enter password"></td>
		</tr>
    <tr><td colspan="2" align="center"><a href="{{curl}}forgotpass/" style="color:yellow">Forgotten Password..</a></td></tr>
		<tr>
       	<td colspan="2" align="center"><input type="submit" value="Login"></td>
       </tr>
       </table>
       	</fieldset>
       </form>

{% endblock %}