{% extends 'base.html' %}
{% block content %}
        
       <center><h1><b>Welcome to Bidding Web Solution.</b></h1>
        <h3>REGISTER PAGE</h3></center><hr><br>
        <font style="font-size: 18px;color: lightgreen">{{output}}</font>
        <form action="{{curl}}register/" method="POST">
                {% csrf_token %}
        	<fieldset style="width: 360px; height:auto">
        		<legend>Registration form</legend>
                <table border="1">
        	<tr>
                        <td><label><b>Name</b></label></td>
        		<td><input type="text" name="name" placeholder="enter name"></td>
                </tr>
        	
                <tr>
                        <td><label><b>Username/Email</b></label></td>
        		<td><input type="text" name="username" placeholder="enter username/email"></td>
                </tr>
                <tr>
        		<td><label><b>Password</b></label></td>
        		<td><input type="password" name="password" placeholder="enter password"></td>
                </tr>
        		
                <tr>    
                        <td><label><b>Address</b></label></td>
        		<td><textarea placeholder="enter address here..." cols="25" rows="5" name="address"></textarea></td>
                </tr>
                <tr>
        		<td><label><b>City</b></label></td>
        		<td><select name="city">
        			<option selected="selected">---select city---</option>
        			<optgroup label="MP">
        				<option>Indore</option>
        				<option>Dewas</option>
        				<option>Ujjain</option>
        				<option>Bhopal</option>
        				</optgroup>
        				<optgroup label="UP">
        				<option>Kanpur</option>
        				<option>Banaras</option>
        				<option>Agra</option>
        				<option>Lucknow</option>
        				</optgroup>
        		</select></td>
        	</tr>
                <tr>
                        <td><label><b>Gender:</b></label></td>
        		<td><input type="radio" name="gender" value="male"> Male &nbsp;
        		<input type="radio" name="gender" value="female"> Female &nbsp;
        		<input type="radio" name="gender" value="other">Other
                        </td>
                </tr>
                <tr>
        		<td><label><b>Mobile:&nbsp;&nbsp;&nbsp;</b></label></td>
        		<td><input type="number" name="mobile"><br></td>
                </tr>
        	<tr><td colspan="2" align="center"><input type="submit" value="Register"></td></tr>

        </table>
        	</fieldset>
        </form>

{% endblock %}