{% extends 'base.html' %}

{% block content %}
<style type="text/css">
#pcatmain{
 height:450px;
 width:600px;
}
.pcatmainpart{
 height:150px;
 width:200px;
 float:left;
}
</style>

<center><h1><b>Welcome to Bidding Web Solution.</b></h1>
<h3>Product Categories >> {{cnm}}</h3>
</center>
<hr><br>

<div id="pcatmain">

{% for row in sclist %}
<a href="{{curl}}showproduct/?cnm={{cnm}}&scnm={{row.subcatnm}}">
<div class="pcatmainpart">
<center>
<img src={{media_url}}{{row.subcaticon}} width="150" height="100" />
<br>
<b>{{row.subcatnm}}</b>
</center>
</div>
</a>
{% endfor %}

</div>

{% endblock %}


{% block sidebar %}
<h2 class="star">Catagory List</h2>
<div class="clr"></div>
<br>
<ul class="sb_menu">
{% for category in clist %}
<li><a href="{{curl}}showsubcat/?cnm={{category.catnm}}">{{category.catnm}}</a></li>
{% endfor %}
</ul>
{% endblock %}