{% extends 'base.html' %}

{% block content %}
<style type="text/css">
/* product card details*/
.card{
  width: 250px;
  height:auto;
  background-color: white;
  border: 1px solid gray;
  float:left;
}
#desc{
  color:black
}
.card button {
  border: none;
  outline: 0;
  padding: 12px;
  margin-bottom: -16px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}
#pimage{
	border:2px solid gray;
	border-radius: 8%;
}
</style>
<div style="height: auto; width:auto;border:1px solid gray;">
<div style="float: left;height: auto;margin:5px;">
<form method="get" action={{curl}}showproduct/  >
<fieldset style="width: auto; height:auto;">
	<legend>Filter By Price :</legend>
<table border="1">
<tr>
<td>
<input type="hidden" name="cnm" value="{{cnm}}" />
<input type="hidden" name="scnm" value="{{scnm}}" />
<input type="text" name="sprice" placeholder="Enter Starting Price"/> - <input type="text" name="eprice" placeholder="Enter Ending Price"/> </td></tr>
<tr><td colspan="2" align="center">
<input type="submit" value="Filter" />
</td>
</tr>
</table>
</fieldset>
</form>
</div>
<div>
<form method="get" action={{curl}}showproduct/  >
<fieldset style="width: auto; height:auto;margin:5px;">
	<legend>Filter By City :</legend>
<table border="1">
<tr>
<td>
<input type="hidden" name="cnm" value="{{cnm}}" />
<input type="hidden" name="scnm" value="{{scnm}}" />
<select name="city">
<option>Select city</option>
<optgroup label="Madhya Pradesh">
<option>Indore</option>
<option>Bhopal</option>
<option>Ujjain</option>
</optgroup>
<optgroup label="Maharastra">
<option>Mumbai</option>
<option>Pune</option>
<option>Nasik</option>
</optgroup>
</select>
</td></tr>
<tr><td rowspan="1">
<input type="submit" value="Filter" />
</td>
</tr>
</table>
</fieldset>
</form>
</div>
</div><br>

<hr><br>

<h3>Product Subcatagory >> {{scnm}}</h3>
<p>Total {{scnm}} Aid >> {{total}}</p>

{% for row in plist %}
<div class="card">
	{% for row in plist %}
  <center><img src="{{media_url}}{{row.pimg}}" id="pimage" alt="Product Image" height=130 width=200">
  <h4 style="color:black">{{row.ptitle}}</h4>
  <p id="desc">USD. <b>{{row.pprice}}$</b></p>
  <p id="desc">{{row.pdesc}}</p>
  {% endfor %}
  <p><a href="{{curl}}buylogin/?pid={{row.pid}}&pprice={{row.pprice}}"><button>Buy Now</button></a></p></center>
</div>
{% endfor %}

{% endblock %}


{% block sidebar %}
<h2 class="star">Catagory List for : {{cnm}}</h2>
<div class="clr"></div>
<br>
<ul class="sb_menu">
{% for subcategory in sclist %}
<li><a href="{{curl}}showproduct/?cnm={{subcategory.catnm}}&scnm={{subcategory.subcatnm}}">{{subcategory.subcatnm}}</a></li>
{% endfor %}
</ul>
{% endblock %}